mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-grid-list {
    height: 100%;
    width: 100%;
}

mat-grid-tile {
    height: 100%;
    width: 100%;
}

mat-card {
    width: 90%;
    height: 90%;
}