<header class="home-header">
    <img src="images/title-icon.png" alt="logo" width="100" />

    <div class="home-header-text">
        <p class="home-header-text-h1">Parlament Rzeczypospolitej Polskiej</p>
        <p class="home-header-text-h2">Warszawa, Polska</p>
        <p class="home-header-text-h3">Parlament Rzeczypospolitej Polskiej składa się z wyższej izby - Senatu, oraz
            niższej izby - Sejmu. Obie izby
            mieszczą się w kompleksie sejmowym w Warszawie. Sam parlament nie ma oficjalnej nazwy; Konstytucja
            określa
            osobno Sejm i Senat.</p>
    </div>
</header>

<mat-divider/>
