<header class="app-header">
  <mat-icon>fingerprint</mat-icon>
    Sejm Tracker
  <div class="app-header-content">
  <mat-toolbar>
    <div class="app-navigation-buttons">
      <button matButton routerLink="/home">Strona główna</button>
      <button matButton routerLink="/votings">Głosowania</button>
      <button matButton routerLink="/parlament-members">Posłowie</button>
    </div>
    <span class="app-spacer"></span>
    <button matIconButton>
      <mat-icon>face</mat-icon> Zaloguj się
    </button>
  </mat-toolbar>
  </div>
</header>

<body>
  <router-outlet/>
</body>