.app-toolbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.app-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.app-spacer {
  flex: 1 1 auto;
}

.app-navigation-buttons {
  display: flex;
  gap: 20px;
}