<mat-card class="global-mat-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title class="global-mat-card-title">Wybierz głosowanie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-term-selector (selectedTerm)="onTermSelected($event)"></app-term-selector>

        @if (this.selectedTerm()) {
        <app-proceeding-selector [term]="this.selectedTerm()"
            (selectedProceeding)="onProceedingSelected($event)"></app-proceeding-selector>

            @if (this.selectedTerm() && selectedProceeding()) {
            <app-voting-selector [term]="this.selectedTerm()!" [proceeding]="this.selectedProceeding()!"
                (selectedVoting)="onVotingSelected($event)"></app-voting-selector>
            }
        }
    </mat-card-content>
</mat-card>
