<mat-card class="global-mat-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Posłowie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="this.parlamentMembers()" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="first-name">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sortuj po imieniu"> Imię </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="last-name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortuj po nazwisku"> Nazwisko </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="club">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortuj po partii"> Partia </th>
                <td mat-cell *matCellDef="let element"> {{element.club}} </td>
            </ng-container>

            <ng-container matColumnDef="district-name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortuj po miejscowości"> Miejscowość </th>
                <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
            </ng-container>

            <ng-container matColumnDef="profession">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortuj po zawodzie"> Zawód </th>
                <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
            </ng-container>

            <tr class="global-table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="parlament-members-table-mat-row" (click)="openDetailsDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
